.createaccount-container{
  margin-bottom: 80px;
  padding: 30px 60px;
  background: rgba(255, 255, 255, 0.15);
  color: #f3f3f3;
  border-radius: 25px;
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.3);
  animation: float 6s ease-in-out infinite;

  display: flex;           
  flex-direction: column;  
  align-items: center; 
}

.file-input-wrapper {
  display: flex;
  justify-content: center; 
  width: 100%;
}

.profile-label {
  text-align: center;
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
  
}

.profile-input {
   display: none;
}

.file-button {
  margin-top: 4px;
  padding: 4px 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.4);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  backdrop-filter: blur(10px);
  font-family: "DM Sans", system-ui, -apple-system, dm sans;
  color: #f3f3f3;
}

.file-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px white;
  
.profileupload{
  display: flex;
  flex-direction: column; 
  align-items: center;   
  width: 250px;          
  margin-bottom: 10px;
}
}

.profile-preview {
  margin-top: 12px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.emailinput, .passwordinput, .nameinput{
  display: flex;
  align-items: center; 
  gap: 10px;            
  margin-bottom: 5px;
  width: 250px;
}

.createaccount-label{
  width: 200px;        
  text-align: left;    
  font-family: "DM Sans", system-ui, -apple-system;
  font-weight: 900;
  color: #f3f3f3;
  font-size: 30px;

}

.email-label, .password-label, .name-label{
width: 100px;        
  text-align: left;    
  font-family: "DM Sans", system-ui, -apple-system;
  font-weight: 600;
  color: #f3f3f3;
  font-size: 18px;
  text-align: left
}

.emailinput input{
  flex: 1;
  padding: 5px 6px;

}

.passwordinput input{
  flex: 1;
  padding: 5px 6px;

}

.nameinput input{
  flex: 1;
  padding: 5px 6px;

}

.submit {
  align-items: end;
  box-sizing: border-box;
  border: solid #a0b1d0;
  border-radius: 5px;
}

.buttonStyle {
  margin-top: 4px;
  padding: 4px 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.4);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  backdrop-filter: blur(10px);
  font-family: "DM Sans", system-ui, -apple-system, dm sans;
  color: #f3f3f3;
}

/*makes post button fun*/
.buttonStyle a {
  text-decoration: none;
  color: white;
}
.buttonStyle:hover {
  transform: scale(1.0);
  box-shadow: 0 0 10px white;
}

.inputbox {
  margin: center;
}

.inputbox:focus {
  border-color: #ffffff;     
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.background{
  width: 100vw;
  height: 100vh;
  background-image: url('../public/LoginBackground.jpg');
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  display:flex;  
  justify-content:center;
  align-items: center;
}

