

.inputbox {
  box-sizing: border-box;
  border: solid #a0b1d0;
  border-radius: 5px;
}

.submit {
  align-items: end;
  box-sizing: border-box;
  border: solid #a0b1d0;
  border-radius: 5px;
}

.CreateanAccount {
  width: 350px;
  min-height: 500px;
  background-image: url('../assets/loginbubble.png'); /* cloud image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
           
}

.background{
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/LoginBackground.jpg');
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  display:flex;  
  justify-content:center;
  align-items: center;
}