
.log{
    width: 250px;
    height: 190px;
    background: var(--card);
    margin: 30px;
    margin: auto;
    border-radius: var(--radius);
    text-align: center; 
    padding: 10px;
    box-shadow: 0 8px 33px rgba(14, 15, 26, 0.25);
}

.inputbox{
  box-sizing: border-box;
  border: solid #a0b1d0;
  border-radius: 5px;
}

.submit{
    align-items: end; 
    box-sizing: border-box;
    border: solid #a0b1d0;
    border-radius: 5px;
    
}