:root{
    --bg: #a0b1d0;
    --card: #caa2be;
    --text: #ffffff;
    --muted: #6a7a8f;
    --line: #232833;
    --primary: #a09fcd;
    --focus: 0 0 0 3px #af9dc4;
    --radius: 12px;
    --space: 16px;
}

* {
    border-radius: var(--radius);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    -webkit-text-fill-color: var(--text) !important;
    -webkit-box-shadow: 0 0 0px 1000px color-mix(in srgb, var(--card) 75%, white) inset !important;
    font-family: "DM Sans", system-ui, -apple-system, dm sans !important;
    transition: none !important;
    animation: none !important;
    caret-color: var(--text) !important;
}
